/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  /* font-family: "Poppins"; */
}

/* header {
  display: inline;
} */

.jumbotron {
  /* background: linear-gradient(45deg, #ce0000, #ff3d3d, #c41c5c, #e73c7e); */
  /* background: linear-gradient(45deg, #5f0000, #a01313, #db729a, #ecb3c9); */
  background: linear-gradient(45deg, #02005f, #1513a0, #7472db, #b4b3ec);
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
  /* height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .jumbotron {
  height: 91vh;
  padding: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
} */

/* .jumbotron img {
  margin: 20px 0;
  border-radius: 100%;
  border: 10px solid #fff;
  transition: 1s;
} */

/* .jumbotron img:hover {
  transform: scale(1.1);
} */

/* nav {
  background-color: #ae0000;
  background-color: #0c00ae;
  padding: 20px 0;
  position: sticky;
  top: 0;
} */

/* nav ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
} */

/* nav ul li {
  cursor: pointer;
  list-style: none;
} */

/* nav ul li a {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-size: 18px;
  font-weight: 400;
} */

/* nav ul li a:hover {
  color: white;
  font-weight: bold;
} */

section {
  padding: 2rem 8rem 2.5rem;
}

section > div:first-child {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0.5rem 0 1.5rem;
}

/* #about > div:last-child {
  display: flex;
} */

/* #about p {
  flex: 50%;
} */

/* #biodata > div:last-child {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem 0rem;
} */

/* #biodata a {
  color: #fff;
  font-weight: bold;
} */

/* .its div,
.smala div {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem 0;
} */

/* .its article,
.smala article {
  display: flex;
  justify-content: center;
} */

/* .its span,
.smala span {
  margin: 1.5rem 1rem 0;
} */

/* #skills ul {
  display: grid;
  grid-template-columns: auto auto auto;
} */

/* .komik,
.movie,
.kuis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
} */

/* .komik h3,
.movie h3,
.kuis h3 {
  margin: 0 0 1rem;
} */

/* #contact .card-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

#contact .card-2 div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* #contact table {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

#contact table .label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 10px 0;
} */

/* #contact form {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  align-items: center;
} */

/* #contact form input,
#contact form textarea {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
} */

/* #contact form label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 10px 0;
} */

/* input,
textarea {
  padding: 10px;
  border-radius: 15px;
  border-color: #fff;
  background-color: #0c00ae;
  color: #fff;
} */

/* input[type="submit"] {
  width: 400px;
  margin-top: 15px;
  background-color: #0c00ae;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s;
} */

/* input[type="submit"]:hover {
  background-color: #096900;
  background-color: rgb(21 128 61);
} */

/* footer {
  padding: 20px;
  color: white;
  background-color: #ae0000;
  background-color: #0c00ae;
  text-align: center;
  font-weight: bold;
} */

.card {
  /* box-shadow: 0 10px 8px 5px rgba(170, 0, 0, 0.4); */
  box-shadow: 0 10px 8px 5px rgba(0, 11, 170, 0.4);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 1rem;
}

.card-2 {
  box-shadow: 0 10px 8px 5px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 1rem;
}

.light-1 {
  transition: all 1s;
  /* color: #f00000; */
  color: #0040f0;
}

.light-2 {
  transition: all 1s;
  color: #cecece;
  /* background-color: #ff1b1b; */
  background-color: #1b1fff;
}

.light-1:hover {
  background-color: #202020;
}

.light-2:hover {
  /* background-color: #770b0b; */
  /* background-color: #0b0d77; */
  background-color: #050635;
  color: #fff;
}

/* Dark Mode */
/* .dark-1 {
  background-color: #353535;
}

.dark-2 {
  background-color: #770b0b;
} */

/* Responsive */
/* @media screen and (max-width: 1080px) {
  .jumbotron img {
    width: 250px;
  }

  #biodata > div:last-child {
    grid-template-columns: auto;
    gap: 1rem 0rem;
    justify-content: center;
  }

  .its article,
  .smala article {
    flex-direction: column;
    align-items: center;
  }

  #skills ul {
    grid-template-columns: auto auto;
  }
} */

@media screen and (max-width: 768px) {
  /* .jumbotron {
    font-size: 1rem;
  }

  .jumbotron img {
    width: 200px;
  } */

  section {
    padding: 1rem 5rem 1.5rem;
  }

  section > div:first-child {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5rem 0 1rem;
  }

  /* #about > div:last-child {
    flex-direction: column;
  } */

  /* #about p {
    margin-bottom: 1rem;
  } */

  /* #skills ul {
    grid-template-columns: auto;
  } */

  /* .komik img,
  .movie img,
  .kuis img {
    width: 300px;
  } */
}

/* @media screen and (max-width: 620px) {
  input,
  input[type="submit"],
  textarea {
    width: 250px;
  }
} */

@media screen and (max-width: 500px) {
  section {
    padding: 2rem 0.4rem 2.5rem;
  }

  /* nav {
    display: none;
  } */
}

/* @media screen and (max-width: 320px) {
  input,
  textarea {
    width: 250px;
  }
} */
